---
import { User } from "lucide-react";
import { Card } from "@/components/ui/card";
import Section from "@/components/Section.astro";
import SectionHeader from "@/components/SectionHeader.astro";
---

<Section>
  <SectionHeader title="About me" subtitle="Who is this guy?">
    <User className="text-secondary-foreground" />
  </SectionHeader>
  <div class="grid grid-cols-1 @[45rem]:grid-cols-2 gap-8 row-auto">
    <Card
      className="w-80 p-2 hover:-rotate-3 transition-all duration-300 ease-in-out self-start"
    >
      <img
        class="mb-4 rounded bg-zinc-950 h-[302px]"
        width="302px"
        height="302px"
        style={{
          background:
            "radial-gradient(circle, rgba(50,50,50,1) 0%, rgba(15,15,15,1) 60%)",
        }}
        src="/memoji/laptop-memoji.webp"
        alt="Mark Lyck memoji"
      />
      <p class="text-zinc-500 text-center text-xl font-caveat pb-2">
        Daring to redefine boundaries :)
      </p>
    </Card>
    <div class="w-80 flex flex-col gap-4">
      <h4 class="font-bold text-2xl">
        Hi, I'm Mark <span class="inline-block animate-wave">👋</span>
      </h4>
      <p class="text-secondary-foreground text-xl font-extralight">
        A passionate and experienced web developer from Denmark, smarthome
        addict, and AI enthusiast based in Maryland, USA. With over 11 years of
        expertise in full-stack development, I have dedicated myself to creating
        exceptional user experiences that blend functionality and aesthetics
        seamlessly.
      </p>
      <span class="text-secondary-foreground font-caveat text-xl"
        >Mark Lyck</span
      >
    </div>
  </div>
</Section>
