---
import Section from "@/components/Section.astro";
---

<Section>
  <p class="text-center text-secondary-foreground text-sm mb-8">
    *No render blocking JavaScript bundles were shipped in the loading of this
    website.
  </p>
</Section>
