---
import { Stars, Globe2 } from "lucide-react";
import Section from "@/components/Section.astro";
import EmailButton from "@/components/EmailButton.astro";
import { CardHeader, CardContent } from "@/components/ui/card";
import Card from "@/components/ShinyCard.astro";
import Benchmark from "@/components/Sections/Benchmark.astro";
---

<Section>
  <div class="grid grid-cols-1 @[60rem]:grid-cols-3 gap-4 mx-auto">
    <Card className="flex-1 flex flex-col justify-between">
      <CardHeader className="pb-4">
        <img
          src="/memoji/hello-memoji.webp"
          alt="@marklyck"
          class="h-16 w-16 rounded-full bg-background p-1"
        />
      </CardHeader>
      <CardContent>
        <h2 class="text-3xl mb-2 font-bold">
          Let's build an internet that sparks joy!
        </h2>
        <span class="text-secondary-foreground"
          >Mark Lyck • Full-stack Web developer</span
        >
      </CardContent>
    </Card>
    <div class="flex flex-1 gap-4 flex-col">
      <Card>
        <CardHeader className="pb-0 pt-4 px-4">
          <span class="text-2xl font-light text-secondary-foreground"
            >Title</span
          >
        </CardHeader>
        <CardContent className="pb-4 px-4">
          <h3 class="text-[28px]">Lead Software Engineer</h3>
        </CardContent>
      </Card>
      <ul class="flex gap-4 w-full">
        <li class="flex-1">
          <a
            href="https://github.com/marklyck"
            target="_blank"
            class="flex items-center justify-center rounded border-border border w-full py-3 text-xl bg-card hover:bg-white text-white hover:text-black"
          >
            <svg
              class="mr-2 size-6"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                d="M12 2C6.48 2 2 6.58 2 12.26c0 4.53 2.87 8.37 6.84 9.73.5.1.68-.22.68-.49 0-.24-.01-1.04-.01-1.89-2.78.62-3.37-1.21-3.37-1.21-.45-1.19-1.11-1.51-1.11-1.51-.91-.64.07-.63.07-.63 1 .07 1.53 1.06 1.53 1.06.9 1.57 2.35 1.12 2.92.85.09-.67.35-1.12.63-1.38-2.22-.26-4.56-1.14-4.56-5.07 0-1.12.39-2.03 1.03-2.75-.1-.26-.45-1.3.1-2.71 0 0 .84-.28 2.75 1.05A9.3 9.3 0 0 1 12 6.97c.85 0 1.7.12 2.5.35 1.91-1.33 2.75-1.05 2.75-1.05.55 1.41.2 2.45.1 2.71.64.72 1.03 1.63 1.03 2.75 0 3.94-2.34 4.8-4.57 5.06.36.32.68.94.68 1.9 0 1.38-.01 2.48-.01 2.82 0 .27.18.59.69.49A10.1 10.1 0 0 0 22 12.26C22 6.58 17.52 2 12 2Z"
              ></path>
            </svg>
            Github
          </a>
        </li>
        <li class="flex-1">
          <a
            href="https://www.linkedin.com/in/mlyck/"
            target="_blank"
            class="flex items-center justify-center rounded border-border border w-full py-3 text-xl bg-card hover:bg-white text-white hover:text-black"
          >
            <svg
              class="mr-2 size-6"
              viewBox="0 0 24 24"
              fill="currentColor"
              aria-hidden="true"
            >
              <path
                d="M20.45 20.45h-3.56v-5.58c0-1.33-.03-3.04-1.85-3.04-1.85 0-2.13 1.45-2.13 2.94v5.68H9.35V9h3.42v1.56h.05c.48-.9 1.64-1.85 3.37-1.85 3.6 0 4.27 2.37 4.27 5.46v6.28ZM5.34 7.43a2.06 2.06 0 1 1 0-4.12 2.06 2.06 0 0 1 0 4.12Zm1.78 13.02H3.56V9h3.56v11.45ZM22.23 0H1.77C.79 0 0 .77 0 1.72v20.56C0 23.23.79 24 1.77 24h20.46c.98 0 1.77-.77 1.77-1.72V1.72C24 .77 23.21 0 22.23 0Z"
              ></path>
            </svg>
            LinkedIn
          </a>
        </li>
      </ul>
      <Card className="relative">
        <CardHeader className="pb-0 px-4 pt-4">
          <span class="text-2xl font-light text-secondary-foreground"
            >Based in</span
          >
        </CardHeader>
        <CardContent className="pb-4 px-4">
          <h3 class="text-[28px]">Tennessee, USA</h3>
          <Globe2
            className="text-secondary-foreground size-10 absolute right-8 top-1/2 -translate-y-1/2"
          />
        </CardContent>
      </Card>
    </div>
    <Card className="flex-1 flex items-center justify-center flex-col p-8">
      <Stars className="text-secondary-foreground h-10 w-10 mb-4" />
      <h3 class="text-[28px] mb-4 text-center">Let's work together!</h3>
      <EmailButton />
    </Card>
  </div>
  <Benchmark />
</Section>
