<nav class="px-6 flex items-center max-w-[80rem] mx-auto">
  <a href="/" class="text-[24px] mr-2"
    ><span class="text-indigo-600 text-[24px]">.</span>marklyck</a
  >
  <div
    class="bg-card px-2 py-1 rounded border border-border font-thin text-secondary-foreground text-xs"
  >
    portfolio
  </div>
</nav>
