---
import { Folder } from "lucide-react";
import Section from "@/components/Section.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import PortfolioItem from "@/components/PortfolioItem.astro";
---

<Section>
  <SectionHeader title="Portfolio" subtitle="Latest projects I've worked on">
    <Folder className="text-secondary-foreground" />
  </SectionHeader>
  <div class="grid grid-cols-1 @[45rem]:grid-cols-2 gap-8 w-full">
    <PortfolioItem
      title="Nebula"
      description="Creator video platform"
      url="https://nebula.tv"
      imgSrc="/screenshots/nebula.webp"
    />
    <PortfolioItem
      title="Formula Stocks"
      description="Value/Growth investment research platform"
      url="https://formulastocks.com"
      imgSrc="/screenshots/formulastocks.webp"
    />
    <PortfolioItem
      title="Colony Networks"
      description="Telenet analytics & management platform"
      url="https://colonynetworks.com"
      imgSrc="/screenshots/colony.webp"
    />
    <PortfolioItem
      title="Weekly Stocktip"
      description="AI Stockpick system"
      url="https://weeklystocktip.com"
      imgSrc="/screenshots/weekly_stocktip.webp"
    />
  </div>
</Section>
