---
import { Atom } from "lucide-react";
import Section from "@/components/Section.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import Tool from "@/components/Tool.astro";
import { Card, CardContent, CardHeader } from "@/components/ui/card";
---

<Section>
  <SectionHeader title="Tools" subtitle="Frameworks & Tools">
    <Atom className="text-secondary-foreground" />
  </SectionHeader>
  <Card className="bg-transparent">
    <CardHeader
      className="bg-card p-2 text-center text-secondary-foreground text-sm"
    >
      Favorite Languages, Frameworks & Tools I use
    </CardHeader>
    <CardContent className="p-4 flex gap-6 flex-wrap justify-center">
      <Tool
        name="TypeScript"
        description="Programming Language"
        imgSrc="/icons/typescript.svg"
      />
      <Tool
        name="Python"
        description="Programming language"
        imgSrc="icons/python.svg"
      />
      <Tool
        name="Bun"
        description="JavaScript runtime"
        imgSrc="/icons/bun.svg"
      />
      <Tool
        name="React"
        description="Frontend Framework"
        imgSrc="/icons/react.svg"
      />
      <Tool
        name="Svelte"
        description="Frontend Framework"
        imgSrc="/icons/svelte.svg"
      />
      <Tool
        name="Vue"
        description="Frontend Framework"
        imgSrc="/icons/vue.svg"
      />
      <Tool
        name="NextJS"
        description="React Framework"
        imgSrc="/icons/nextjs.svg"
      />
      <Tool
        name="Astro"
        description="Frontend Framework"
        imgSrc="icons/astro.svg"
      />
      <Tool
        name="Qwik"
        description="Frontend Framework"
        imgSrc="icons/qwik.svg"
      />
      <Tool name="Nuxt" description="Vue Framework" imgSrc="/icons/nuxt.svg" />
      <Tool
        name="ViteJS"
        description="Frontend build tool"
        imgSrc="/icons/vitejs.svg"
      />
      <Tool
        name="Tailwind CSS"
        description="Utility first CSS framework"
        imgSrc="icons/tailwind.svg"
      />
      <Tool
        name="Stitches CSS"
        description="CSS in JS library"
        imgSrc="icons/stitches.svg"
      />
      <Tool
        name="Radix UI"
        description="Headless accessible UI components"
        imgSrc="icons/radix.png"
      />
      <Tool
        name="Storybook"
        description="Frontend tool for building & testing UIs"
        imgSrc="icons/storybook.svg"
      />
      <Tool
        name="Prettier"
        description="Opinionated code formatter"
        imgSrc="icons/prettier.svg"
      />
      <Tool
        name="EsLint"
        description="Pluggable JavaScript linter"
        imgSrc="icons/eslint.svg"
      />
      <Tool
        name="TurboRepo"
        description="high performance build system for TypeScript"
        imgSrc="icons/turborepo.png"
      />
      <Tool
        name="trpc"
        description="End-to-end typesafe API framework"
        imgSrc="icons/trpc.svg"
      />
      <Tool
        name="GraphQL"
        description="Query language for APIs"
        imgSrc="icons/graphql.svg"
      />
      <Tool
        name="postgreSQL"
        description="Database"
        imgSrc="icons/postgres.svg"
      />
      <Tool name="Prisma" description="ORM" imgSrc="icons/prisma.svg" />
      <Tool
        name="Docker"
        description="Virtualization containers"
        imgSrc="icons/docker.svg"
      />
      <Tool
        name="Kubernetes"
        description="Managing containerized applications"
        imgSrc="icons/kubernetes.svg"
      />
      <!-- <Tool
        name="Helm"
        description="YAML manifests and templates"
        imgSrc="icons/helm.svg"
      /> -->
      <Tool
        name="Linear"
        description="Organization & Planning"
        imgSrc="/icons/linear.svg"
      />
      <Tool
        name="Framer"
        description="Design & animation tools"
        imgSrc="/icons/framer.svg"
      />
      <Tool name="Figma" description="Design tool" imgSrc="/icons/figma.svg" />
    </CardContent>
  </Card>
</Section>
