---
import "@/styles/globals.css";

import Layout from "../layouts/Layout.astro";
import Header from "@/components/Sections/Header.astro";
import AboutMe from "@/components/Sections/AboutMe.astro";
import Portfolio from "@/components/Sections/Portfolio.astro";
import Testimonials from "@/components/Sections/Testimonials.astro";
import Tools from "@/components/Sections/Tools.astro";
import Background from "@/components/Sections/Background.astro";
import Footer from "@/components/Sections/Footer.astro";
---

<Layout title="Mark Lyck's Portfolio">
  <main class="@container flex flex-col gap-4 max-w-[80rem] mx-auto">
    <Header />
    <AboutMe />
    <Portfolio />
    <Testimonials />
    <Tools />
    <Background />
    <Footer />
  </main>
</Layout>
