---
import "@/styles/globals.css";

import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header.astro";
import AboutMe from "@/components/AboutMe.astro";
---

<Layout title="Mark Lyck's Portfolio">
  <main class="@container flex flex-col gap-8">
    <Header />
    <AboutMe />
  </main>
</Layout>
