---
import { Mail, MailCheck } from "lucide-react";
---

<div class="rotating-effect">
  <a href="mailto:hello@marklyck.com" class="inner-rotating-effect">
    <Mail className="mail-closed-icon mr-2 h-5 w-5" />
    <MailCheck className="mail-open-icon mr-2 h-5 w-5 hidden" />
    hello@marklyck.com
  </a>
</div>

<style>
  @property --x {
    syntax: "<length>";
    inherits: false;
    initial-value: 0;
  }

  @property --r2 {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
  }
  .rotating-effect {
    animation: rotating-angle -0.64s linear 3s infinite,
      rotating-x -0.64s linear 3s infinite;
    padding: 1px;
    background: conic-gradient(
        from calc(var(--r2) - 80deg) at var(--x) 15px,
        transparent 0,
        #ffffff 20%,
        transparent 25%
      ),
      #555555;
    border-radius: 16px;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease;
    transform: translateZ(0);
  }
  .rotating-effect:hover {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.25);
    background: conic-gradient(
        from calc(var(--r2) - 80deg) at var(--x) 15px,
        transparent 0,
        #ffffff 20%,
        transparent 25%
      ),
      #acacac;
  }
  .inner-rotating-effect {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    background: #000000;
    border-radius: 16px;
  }

  @keyframes rotating-angle {
    0% {
      --r2: 0deg;
    }

    32.82275711% {
      --r2: 0deg;
    }

    50% {
      --r2: 180deg;
    }

    82.82275711% {
      --r2: 180deg;
    }

    to {
      --r2: 360deg;
    }
  }

  @keyframes rotating-x {
    0% {
      --x: 20px;
    }

    32.82275711% {
      --x: 206px;
    }

    50% {
      --x: 206px;
    }

    82.82275711% {
      --x: 20px;
    }

    to {
      --x: 20px;
    }
  }
</style>
