---
import { Gem } from "lucide-react";
import Section from "@/components/Section.astro";
import SectionHeader from "@/components/SectionHeader.astro";
import Testimonial from "@/components/Testimonial.astro";
---

<Section>
  <SectionHeader title="Testimonials" subtitle="Voices of satisfaction">
    <Gem className="text-secondary-foreground" />
  </SectionHeader>
  <div>
    <Testimonial name="Amanda Oliver" />
  </div>
</Section>
