---
import { Card } from "@/components/ui/card";

const { imgSrc, name, description } = Astro.props;
---

<Card className="p-4">
  <img src={imgSrc} alt={name} class="h-16 w-16 rounded" />
  <!-- <p>{name}</p>
                <p class="">
                    {description}
                </p> -->
</Card>
